@media only screen and (max-width: 600px) {
  h1{
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 410px) {
  h1{
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 350px) {
  h1{
    font-size: 1.2rem;
  }
}
ng-multiselect-dropdown{
  color: white;
}
