.container{
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.postImage {
  width: 64px;
}
.commentImage{
  width: 64px;
}
div #alertMessage{
  font-size: 17px;
}
@media only screen and (max-width: 600px){
  .postImage {
    width: 48px;
  }
  .commentImage{
    width: 48px;
  }
}
@media only screen and (max-width: 1200px) {
  div #alertMessage{
    font-size: 0.8rem !important;
  }
  #title{
    font-size : 1.3rem !important;
  }
  .postContent{
    font-size: 0.9rem !important;
  }
  .texts{
    font-size: 0.9rem !important;
  }
}
