<main>
  <div class="container my-4">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Sitemiz Nasıl Çalışıyor</h1>
        <hr>
      </div>
    </div>
    <div class="row bg-light p-4 my-2">
      <div class="col">
        <h1 class="text-primary text-center">YAŞLI TİLKİ’ye Hoşgeldin</h1>
        <p>
          <span style="color: red;font-size: 35px;"> &#8226; </span>
          Yaşlı Tilki, kişisel gelişim amacıyla insanlara fikir danışabileceğin bir soru-cevap platformudur.
          Kişisel gelişim bölümüne genel olarak fikir danışabilir ya da kendi okul ve alanını seçerek daha detaylı bir soru sorabilirsin.
        </p>
        <p>
          <span style="color: purple;font-size: 35px;"> &#8226; </span>
          Doğru kategoriyi seçerek sorduğunuz sorular, diğer üyeler tarafından cevaplandırılacaktır.
          Siz de bu cevaplar içinden size en çok yardımcı olanı <b>FAVORİ CEVAP</b> olarak işaretleyerek, size yardımcı olan kişinin puan kazanmasına yardımcı olabilirsiniz.
        </p>
        <p>
          <span style="color: orange;font-size: 35px;"> &#8226; </span>
          Favori cevap seçilerek puan kazanan üyelerin rozeti puanları arttıkça yükselir. Son seviyeye gelen üyeler başvuru halinde <b>YAŞLI TİLKİ</b> rozetine erişebilirler.
          <b>YAŞLI TİLKİ</b> rozeti sahibi kişiler, favori cevap olarak işaretlenen yorumu başına ödeme almaya başlar . Bu sayede insanlara yardımcı olarak ikinci bir gelir kapısı oluşturabilirsiniz.
        </p>
        <div>
          <span style="color: green; font-size: 35px;"> &#8226; </span>
          <b>ROZET DERECELERİ</b> şu şekilde sıralanabilir;
          <ul class="list-group">
            <li class="list-group-item">
              0 adet favori seçilmiş cevaba sahip kullanıcılar <img class="mr-1" width="32px" src="http://localhost:5000/Images/first.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
            <li class="list-group-item">
              1'den büyük 5'ten az sayıda favori seçilmiş cevaba sahip kullanıcılar <img class="ml-3" width="32px" src="http://localhost:5000/Images/second.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
            <li class="list-group-item">
              5'den büyük 15'ten az sayıda  favori seçilmiş cevaba sahip kullanıcılar <img class="ml-2" width="32px" src="http://localhost:5000/Images/third.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
            <li class="list-group-item">
              15'den büyük 25'ten az sayıda favori seçilmiş cevaba sahip kullanıcılar <img width="32px" src="http://localhost:5000/Images/fourth.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
            <li class="list-group-item">
              25'den büyük 50'ten az sayıda  favori seçilmiş cevaba sahip kullanıcılar <img width="32px" src="http://localhost:5000/Images/fifth.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
            <li class="list-group-item">
              50'den büyük 75'ten az sayıda  favori seçilmiş cevaba sahip kullanıcılar <img width="32px" src="http://localhost:5000/Images/sixth.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
            <li class="list-group-item">
              75'den büyük sayıda  favori seçilmiş cevaba sahip kullanıcılar <img width="32px" src="http://localhost:5000/Images/seventh.jpeg" alt="Yaşlı tilki websitesi 1. seviye rozeti resmi">
            </li>
          </ul>
        </div>
        <p>
          <span style="color: green; font-size: 35px;"> &#8226; </span>
          Sorular ve cevaplar puan ve para kazandırdığı için; anlamsız sorular ,reklamlar ve küfür, hakaret içerikleri görüldüğü anda kaldırılacaktır.
          Sayılan içeriklerden birini görmeniz durumunda <b>ŞİKAYET ET</b> butonuna basarak hem puan kazanabilir hem de sitemizin daha iyi bir yer olmasına yardımcı olabilirsiniz.
        </p>
        <p>
          <span style="color: blue;font-size: 35px;"> &#8226; </span>
          Aklınıza takılan sorularla ilgili anasayfada bulunan <b>BİZE ULAŞIN</b> formunu doldurarak şikayet ve dileklerinizi bize iletebilirsiniz
        </p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        <h3  class="text-primary text-center display-4">Sıkça Sorulan Sorular</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="accordion" id="accordionExample">
          <div class="alert alert-danger text-center">
            Bu kısım daha sonra eklenecektir...
          </div>
          <!-- <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</main>
