<main>
  <div class="container my-5 template">
    <div class="row">
      <div class="col-sm-12">
        <form #form="ngForm" (ngSubmit)="resetPassword()" class=" p-3 bg-light">
          <h1 class="text-center text-primary my-3">Şifreyi Sıfırla</h1>
          <div *ngIf="errorMessage != null" class="alert alert-danger p-2">
            {{errorMessage}}
          </div>
          <div class="form-group">
            <label for="email"> Email</label>
            <input type="email" required #email="ngModel" [(ngModel)]="model.email" name="email" class="form-control" id="email" />
            <div class="text-danger m-1" *ngIf="email.invalid && email.touched">
              <p *ngIf="email.errors.required">Email alanı girilmesi gereklidir</p>
            </div>
          </div>
          <div class="form-group">
            <label   for="password">Şifre</label>
            <input [(ngModel)]="model.password" required #password="ngModel" minlength="6" maxlength="15" name="password" type="password" class="form-control" id="password" />
            <div class="text-danger m-1" *ngIf="password.invalid && password.touched">
              <p *ngIf="password.errors.required">Şifre alanı girilmesi gereklidir</p>
              <p *ngIf="password.errors.minlength">Şifre alanına en az 6 karakter girilebilir</p>
              <p *ngIf="password.errors.maxlength">Şifre alanına en fazla 15 karakter girilebilir</p>
            </div>
          </div>
          <div class="form-group ">
            <label for="repassword">Şifre Tekrar</label>
            <input type="password" required [(ngModel)]="controlPass" name="repassword" class="form-control" #repassword="ngModel" id="repassword" />
            <div class="text-danger m-1" *ngIf="repassword.invalid && repassword.touched">
              <p *ngIf="repassword.errors.required">Şifre Tekrar alanı girilmesi gereklidir</p>
            </div>
            <div class="text-danger m-1" *ngIf="repassword.valid && repassword.touched">
              <p *ngIf="repassword.value != password.value">Şifreler uyuşmuyor</p>
            </div>
          </div>
          <button [disabled]="form.invalid || password.value != repassword.value" class="btn btn-primary btn-block">Güncelle</button>
        </form>
      </div>
    </div>
  </div>
</main>
