<main class="my-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <form #form="ngForm" (ngSubmit)="createDep()" class=" p-3 bg-light">
          <h1 class="text-center text-primary">Departman Oluştur</h1>
          <div class="form-group">
            <label for="name">Departman Adı</label>
            <input type="text" required #name="ngModel" [(ngModel)]="department.name" name="name" class="form-control" id="name" />
            <div class="text-danger m-1" *ngIf="name.invalid && name.touched">
              <p *ngIf="name.errors.required">Departman Adı alanı girilmesi gereklidir</p>
            </div>
          </div>
          <div class="form-group">
            <label for="nameUrl">Departman Url</label>
            <input [(ngModel)]="department.nameUrl" required #nameUrl="ngModel" name="nameUrl" type="text" class="form-control" id="nameUrl" />
            <div class="text-danger m-1" *ngIf="nameUrl.invalid && nameUrl.touched">
              <p *ngIf="nameUrl.errors.required">Departman URl adı girilmesi gereklidir</p>
            </div>
          </div>
          <button [disabled]="form.invalid" class="btn btn-primary btn-block">Oluştur</button>
        </form>
        <div class="alert alert-success" *ngIf="succesed">
          Oluşturma başarılı
        </div>
      </div>
    </div>
  </div>
</main>
