<main class="my-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-info">Aşağıda bulunan linke giderek sitemizi geliştirmemize yardımcı olabilirsiniz.</div>
        <a href="https://forms.gle/5DfNwZYhTdHzVaVD6" style="font-size: 25px;" target="blank">Forma gitmek için tıklayın..</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <contact></contact>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
