<main class="mt-5">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-sm-2">
          <img width="100%" class="mr-2" src="../../../assets/img/tick.png" alt="">
      </div>
      <div class="col-sm-10">
        <div class="media">
          <div class="media-body">
            <div class="card" style="align-self: center;">
              <h2 class="m-3">Mail adresiniz onaylandı!!</h2>
              <div class="card-body">
                <p>Sitemize üye olduğunuz için teşekkürler, şimdi yeni deneyimler elde etmek için lütfen siteye giriş yap</p>
                <a class="text-right" [routerLink]="['/giris-yap']" routerLinkActive="router-link-active" >Giriş için linke tıkla</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
